@import url("https://fonts.googleapis.com/css?family=Cabin");
<<<<<<< HEAD
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

body, html {
  font-family: "Cabin", sans-serif;
  background-color: rgb(248, 244, 255);
  margin: 0;
}
=======
body, html {
  font-family: 'Cabin', sans-serif;
  background-color: aqua;
  margin: 0;
}

>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
body a, html a {
  text-decoration: none;
}

header {
  padding: 2em;
}
<<<<<<< HEAD
=======

>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
header .logo {
  color: black;
  font-weight: bold;
}
<<<<<<< HEAD
header .menu-btn {
  width: 1.5rem;
=======

header .menu-btn {
  width: 18px;
>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
  float: right;
  cursor: pointer;
}

section {
<<<<<<< HEAD
  padding: 2em;
}
section h1 {
  font-size: 5em;
  margin: 1em auto;
  margin-bottom: 0.1rem;
  width: 70%;
  text-transform: uppercase;
}
section h1::before {
  content: "";
  border-top: 6px solid black;
  display: block;
}
section h2 {
  font-size: 6em;
  margin: 1em auto;
  margin-top: 0.1rem;
  width: 70%;
  text-transform: uppercase;
}
section h2::before {
  content: "";
  border-bottom: 6px solid black;
  display: block;
}
section h3 {
  font-size: 4em;
  margin: 1em auto;
  margin-top: 0.1rem;
  width: 70%;
  text-transform: uppercase;
  text-align: center;
}
section h3::before {
  content: "";
  display: block;
}

/*
===============
nav
===============
*/
nav {
  position: absolute;
  background: rgb(43, 41, 41);
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(300% - 4em);
  display: none;
  transform: scaleX(0);
  transform-origin: right;
}
nav .close-button {
  width: 1.5rem;
=======
  padding: 4em;
}

section h1 {
  font-size: 4em;
  margin: 1em auto;
  width: 70%;
  text-transform: uppercase;
}

section h1::before {
  content: '';
  border-top: 6px solid black;
  display: block;
}

nav {
  position: absolute;
  background: black;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close-button {
  width: 18px;
>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
  float: right;
  cursor: pointer;
  opacity: 0;
}
<<<<<<< HEAD
=======

>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
<<<<<<< HEAD
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 80%;
}
=======
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  width: 80%;
}

>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
nav ul a {
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}
<<<<<<< HEAD
nav ul span {
  color: gray;
  display: block;
  font-size: 0.75em;
  margin-top: 20px;
}
nav ul li {
  opacity: 0;
}
nav .social-icon {
  height: 10rem;
  gap: 6rem;
  margin-top: 3rem;
  font-size: 2rem;
  color: white;
  transition: var(--transition);
  grid-template-columns: repeat(5, auto);
}

.show-menu {
  display: block;
  animation: slide-menu 1s ease-in forwards;
}
.show-menu .close-button {
  animation: show-x 1s 1s forwards;
}
.show-menu li:nth-of-type(1) {
  animation: menu-item-anim 0.6s forwards 1s ease-in-out;
}
.show-menu li:nth-of-type(2) {
  animation: menu-item-anim 0.6s forwards 1.2s ease-in-out;
}
.show-menu li:nth-of-type(3) {
  animation: menu-item-anim 0.6s forwards 1.6s ease-in-out;
}
.show-menu li:nth-of-type(4) {
  animation: menu-item-anim 0.6s forwards 1.8s ease-in-out;
=======

nav ul span {
  color: gray;
  display: block;
  font-size: .75em;
  margin-top: 20px;
}

nav ul li {
  opacity: 0;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-button {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
          animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
}

@keyframes slide-menu {
  from {
<<<<<<< HEAD
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
=======
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
<<<<<<< HEAD
@keyframes menu-item-anim {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*
==========
Tiles
==========
*/
.tiles {
  padding: 2rem 0;
}

.tiles-center {
  width: 90vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 12.5rem);
  gap: 1rem;
  grid-template-areas: "a a b d" "a a b d" "c c e f" "g h e f" "g h i i";
}

.tiles-center img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-1 {
  grid-area: a;
}

.tile-2 {
  grid-area: b;
}

.tile-3 {
  grid-area: c;
}

.tile-4 {
  grid-area: d;
}

.tile-5 {
  grid-area: e;
}

.tile-6 {
  grid-area: f;
}

.tile-7 {
  grid-area: g;
}

.tile-8 {
  grid-area: h;
}

.tile-9 {
  grid-area: i;
}

@media screen and (max-width: 375px) {
  nav .close-button {
    width: 1.5rem;
    float: right;
    cursor: pointer;
    opacity: 0;
  }
  nav ul {
    margin-top: 2rem;
    grid-template-columns: repeat(2, auto);
  }
  nav ul a {
    color: white;
    font-weight: bold;
    font-size: 1.4em;
  }
  nav ul span {
    color: gray;
    display: block;
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
  nav ul li {
    opacity: 0;
    margin-top: 1rem;
  }
  nav .social-icon {
    height: 10rem;
    gap: 1rem;
    font-size: 1.5rem;
    color: white;
    transition: var(--transition);
  }
  section {
    padding: 2em;
  }
  section h1 {
    font-size: 2rem;
    margin: 1em;
    margin-bottom: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h1::before {
    content: "";
    border-top: 6px solid black;
    display: block;
  }
  section h2 {
    font-size: 2.5rem;
    margin: 0.8em;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h2::before {
    content: "";
    border-bottom: 6px solid black;
    display: block;
  }
  section h3 {
    font-size: 2rem;
    margin: 2.5rem;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h3::before {
    content: "";
    display: block;
  }
  .tiles-center {
    grid-template-columns: repeat(1, 0fr);
    gap: 1rem;
    grid-template-areas: "a a" "b b" "c c" "d d" "e e" "f f" "g g" "h h" "i i";
  }
}
@media screen and (min-width: 376px) {
  nav .close-button {
    width: 1.5rem;
    float: right;
    cursor: pointer;
    opacity: 0;
  }
  nav ul {
    margin-top: 2rem;
    grid-template-columns: repeat(2, auto);
  }
  nav ul a {
    color: white;
    font-weight: bold;
    font-size: 1.4em;
  }
  nav ul span {
    color: gray;
    display: block;
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
  nav ul li {
    opacity: 0;
    margin-top: 1rem;
  }
  nav .social-icon {
    height: 10rem;
    gap: 1rem;
    font-size: 1.5rem;
    color: white;
    transition: var(--transition);
  }
  section {
    padding: 2em;
  }
  section h1 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h1::before {
    content: "";
    border-top: 6px solid black;
    display: block;
  }
  section h2 {
    font-size: 2.5rem;
    margin: auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h2::before {
    content: "";
    border-bottom: 6px solid black;
    display: block;
  }
  section h3 {
    font-size: 2.5rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h3::before {
    content: "";
    display: block;
  }
  .tiles-center {
    grid-template-columns: repeat(0, 0fr);
    gap: 1rem;
    grid-template-areas: "a a b b" "c c d d" "e e f f" "g g i i" "h h i i";
  }
}
@media screen and (min-width: 520px) {
  section {
    padding: 2em;
  }
  section h1 {
    font-size: 3rem;
    margin: auto;
    margin-bottom: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h1::before {
    content: "";
    border-top: 6px solid black;
    display: block;
  }
  section h2 {
    font-size: 4rem;
    margin: auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h2::before {
    content: "";
    border-bottom: 6px solid black;
    display: block;
  }
  section h3 {
    font-size: 3rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h3::before {
    content: "";
    display: block;
  }
}
@media screen and (min-width: 740px) {
  header {
    padding: 2em;
  }
  header .logo {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
  }
  header .menu-btn {
    width: 2rem;
    float: right;
    cursor: pointer;
  }
  nav .close-button {
    width: 1.5rem;
    float: right;
    cursor: pointer;
    opacity: 0;
  }
  nav ul {
    margin-top: 2rem;
    grid-template-columns: repeat(2, auto);
  }
  nav ul a {
    color: white;
    font-weight: bold;
    font-size: 1.4em;
  }
  nav ul span {
    color: gray;
    display: block;
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
  nav ul li {
    opacity: 0;
    margin-top: 1rem;
  }
  nav .social-icon {
    height: 10rem;
    gap: 1rem;
    font-size: 1.5rem;
    color: white;
    transition: var(--transition);
  }
  section {
    padding: 2em;
  }
  section h1 {
    font-size: 4em;
    margin: 1em auto;
    margin-bottom: 0.1rem;
    width: 70%;
    text-transform: uppercase;
  }
  section h1::before {
    content: "";
    border-top: 6px solid black;
    display: block;
  }
  section h2 {
    font-size: 5em;
    margin: 1em auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
  }
  section h2::before {
    content: "";
    border-bottom: 6px solid black;
    display: block;
  }
  section h3 {
    font-size: 3em;
    margin: 1em auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h3::before {
    content: "";
    display: block;
  }
  .tiles-center {
    grid-template-columns: repeat(0, 0fr);
    gap: 1rem;
    grid-template-areas: "a a b d" "a a b d" "c c e f" "g h e f" "g h i i";
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 2em;
  }
  header .logo {
    color: black;
    font-weight: bold;
    font-size: 2rem;
  }
  header .menu-btn {
    width: 2.5rem;
    float: right;
    cursor: pointer;
  }
  nav .close-button {
    width: 3rem;
    float: right;
    cursor: pointer;
    opacity: 0;
    font-size: 3rem;
  }
  nav ul {
    margin-top: 2rem;
    grid-template-columns: repeat(4, auto);
    gap: 0.5rem;
  }
  nav ul a {
    color: white;
    font-weight: bold;
    font-size: 2em;
  }
  nav ul span {
    color: gray;
    display: block;
    font-size: 1em;
    margin-top: 0.5rem;
  }
  nav ul li {
    opacity: 0;
    margin-top: 1rem;
  }
  nav .social-icon {
    height: 10rem;
    gap: 1rem;
    font-size: 2rem;
    color: white;
    transition: var(--transition);
  }
  section {
    padding: 2em;
  }
  section h1 {
    font-size: 5em;
    margin: 1em auto;
    margin-bottom: 0.1rem;
    width: 70%;
    text-transform: uppercase;
  }
  section h1::before {
    content: "";
    border-top: 6px solid black;
    display: block;
  }
  section h2 {
    font-size: 7em;
    margin: 1em auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
  }
  section h2::before {
    content: "";
    border-bottom: 6px solid black;
    display: block;
  }
  section h3 {
    font-size: 3em;
    margin: 1em auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h3::before {
    content: "";
    display: block;
  }
  .tiles-center {
    grid-template-columns: repeat(0, 0fr);
    gap: 1rem;
    grid-template-areas: "a a b d" "a a b d" "c c e f" "g h e f" "g h i i";
  }
}
@media screen and (min-width: 1440px) {
  header {
    padding: 2em;
  }
  header .logo {
    color: black;
    font-weight: bold;
    font-size: 3rem;
  }
  header .menu-btn {
    width: 4rem;
    float: right;
    cursor: pointer;
  }
  nav .close-button {
    width: 3rem;
    float: right;
    cursor: pointer;
    opacity: 0;
    font-size: 3rem;
  }
  nav ul {
    margin-top: 2rem;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
  }
  nav ul a {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
  }
  nav ul span {
    color: gray;
    display: block;
    font-size: 1.5em;
    margin-top: 0.5rem;
  }
  nav ul li {
    opacity: 0;
    margin-top: 1rem;
  }
  nav .social-icon {
    height: 10rem;
    gap: 1rem;
    font-size: 2.5rem;
    color: white;
    transition: var(--transition);
  }
  section {
    padding: 2em;
  }
  section h1 {
    font-size: 6em;
    margin: 1em auto;
    margin-bottom: 0.1rem;
    width: 70%;
    text-transform: uppercase;
  }
  section h1::before {
    content: "";
    border-top: 6px solid black;
    display: block;
  }
  section h2 {
    font-size: 8em;
    margin: 1em auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
  }
  section h2::before {
    content: "";
    border-bottom: 6px solid black;
    display: block;
  }
  section h3 {
    font-size: 4em;
    margin: 1em auto;
    margin-top: 0.1rem;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
  }
  section h3::before {
    content: "";
    display: block;
  }
  .tiles-center {
    grid-template-columns: repeat(0, 0fr);
    gap: 1rem;
    grid-template-areas: "a a b d" "a a b d" "c c e f" "g h e f" "g h i i";
  }
}

/*# sourceMappingURL=style.css.map */
=======

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */
>>>>>>> 405354ae0f44f09d9f40ef5ab91286e6e02189e4
