body {
    background-color:rgb(193, 130, 230);
}

.container {
    background-color: rgb(149, 87, 207) ;
    max-width: 700px;
    width: 90%;
    border: 4px rgb(47, 3, 70);
    padding: 16px 30px 24px 30px;
    margin: 30px auto;
}
